
body {
    font-family: Futura, Arial, sans-serif;
    font-size: 2vw;
    width: 800px;
    padding: 20px;
    margin: auto;
}

a {
    text-decoration: none;
    opacity: 0.5;
}

a:hover {
    opacity: 1;
}

audio {
    width: 300px;
    height: 50px;
    margin: 12px;
}

time {
    font-size: 80%;
    color: #084;

}

td, th {
  border: 1px solid lightgray;
  padding: 3px;
}

table {
  border-collapse: collapse;
  border: 1px solid lightgray;
}

.lang-ta {
    font-size: 150%;
}

.lang-en {
    color: lightgray;
    font-size: 100%;
}



.article-header, .article-line {
    background-color: #f8f8f8;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.article-url {
    color: orange;
}

.article-title {
    color: maroon;
}
